.wheel-container {
    position: relative;
    display: inline-block;
}

.pointer {

    position: absolute;

    top: -35px;

    left: 50%;

    transform: translateX(-50%);

    font-size: 45px;

    color: gold;

    z-index: 10;

    text-shadow:
    0 0 10px gold,
    0 0 20px orange;
}